@import "~bootstrap/scss/functions";
@import "/variables";
@import "~bootstrap/scss/bootstrap";

// 自定義顏色
$kapitan-logo: #152A69;
$kapitan-header: #189EBB;
$kapitan-footer: #446da3;
$kapitan-white: #f9f7f0;
$sail: #f7f7f9;
$tiffany-blue: #19b3b1;
$deep-teal: #034b61;
$berry: #bc5f6a;
$tangerine: #feb75d;
$scuba-blue: #55c9ea;
$prussian: #013b63;
$midnight: #000e2b;
$caspper:#adbed2;
$regal-blue:#12406a;
$blush-pink: #eb8f90;
$action-now: #f16c5d;
$bootstrap-border-color: rgba(0, 0, 0, 0.125);

// 自定義距離
$main-container-pt: 60px;

// 個性化全局設定
*{
    box-sizing: border-box !important;
    text-decoration: none  !important;
}

// 去除input樣式預設的增減按鈕開始
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
// 去除input樣式預設的增減按鈕結束

// 自定義 id 開始
#password-remark-trigger,
#password-remark {
  font-size: 12px;
}

#password-remark {
  color: darkred;
  display: inline-block;
  width: 360px;
  top: 10px;
  @include media-breakpoint-down(md) {
    width: 80px;
    top: -10px;
  }
}
// 自定義 id 結束

// 自定義 class 開始
.btn{
    &:active{
        transform: translate3d(0,2px,0);
    }
}

.invalid-btn {
    cursor: not-allowed;
  }

// 自定義 class 結束