@import "~bootstrap/scss/functions";
@import "/variables";
@import "~bootstrap/scss/bootstrap";

*{
    box-sizing: border-box !important;
    text-decoration: none  !important;
}

// 去除input樣式預設的增減按鈕開始
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
// 去除input樣式預設的增減按鈕結束

.btn{
    &:active{
        transform: translate3d(0,2px,0);
    }
}

.invalid-btn {
    cursor: not-allowed;
  }
